<% @articles.each do |article| %>
  <div class="blog-post">
    <h2 class="blog-post-title"><%= article.title %></h2>
    <p class="blog-post-meta">January 1, 2000 by <a href="#">Blogger</a></p>
    <p><%= article.body %></p>
    <div>
      <span><%= link_to 'Read more', article_path(article) %></span>
    </div>
  </div><!-- /.blog-post -->
<% end %>

<nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
</nav>
